.repo-grid {
    /* Using flexbox */
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;

    /* Using CSS Grids */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(min-content, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 0;
    margin: 50px 0;
    list-style: none;
    &__item {
        // flex: 1 0 auto; /* Using CSS grid */
        // width: 300px;
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        background: lightgray;
        // margin-bottom: 20px; /* Using row-gap */
        // margin-right: 10px; /* Using column-gap */
        & > *:first-child {
            align-self: center;
            font-size: 3rem;
            font-weight: 500;
        }
        &--headline-text {
            font-size: 2rem;
            font-weight: 700;
            color: rgb(187, 46, 37);
            align-self: center;
        }
        &--logo {
            align-self: center;
            width: 150px;
        }
        &--desc {
            margin: 0 30px;
            font-size: 2rem;
            font-weight: 500;
            svg {
                margin-right: 10px;
            }
        }
    }
}